<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectFinal.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-44IF56K;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectFinal.Properties.Settings.ConnectionString1"
            connectionString="Data Source=DESKTOP-44IF56K;User ID=FinalProject;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectFinal.Properties.Settings.FinalCSharpConnectionString"
            connectionString="Data Source=DESKTOP-44IF56K;Initial Catalog=FinalCSharp;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>